/*Add whatever you want!*/
:root {
	--primary-color: var(--spectrum-global-color-indigo-1000, #4046CA);
    --secondary-color: var(--spectrum-global-color-indigo-600, #9599FF);
    --primary-background: var(--spectrum-global-color-gray-50, #ffffff);
    --secondary-background: var(--spectrum-global-color-chartreuse-100, #DBFC6E);
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}

.topbar {
	display: flex;
	padding: 20px 40px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
	background: var(--secondary-background);
	align-items: center;
}

.logo {
	justify-content: space-between;
	flex: 1 0 0;
	font-size: var(--spectrum-heading-size-l);
	font-weight: var(--spectrum-global-font-weight-extra-bold);
	cursor: pointer;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 40px;
	align-items: center;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	max-width: 1200px;
	justify-content: center;
}

.container {
	max-width: 800px;
	width: 100%;
}

.item-card {
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

.item-title {
	display: flex;
	padding: 8px 12px;
	border-radius: 8px 8px 0 0;
	align-items: center;
	gap: 12px;
	background: var(--secondary-background);
	font-size: var(--spectrum-heading-size-m);
	font-weight: var(--spectrum-global-font-weight-bold);
}

.rating {
	font-size: var(--spectrum-heading-size-xs);
	font-weight: var(--spectrum-global-font-weight-regular);
}

.item-img  {
	display: flex;
	width: 100%;
	height: 164px;
	padding: 0 1px;
	align-items: center;
	gap: 10px;
	align-self: stretch;
}

.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-price {
	display: flex;
	padding: 0 1px;
	align-items: center;
	gap: 4px;
	align-self: stretch;
}

.item-info {
	display: flex;
	padding: 8px 12px 16px 12px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
	border-radius: 0 0 8px 8px;
	background: var(--light-gray-gray-100, #F8F8F8);
}

.item-prefs {
	display: inline-flex;
	gap: 20px;
}

.quantity-picker {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0 0;
}

sp-popover {
	padding: 12px;
	gap: 8px;
}


.main sp-action-button {
	display: flex;
	width: 100%;
	max-width: 1200px;
}

.attribution {
	padding: 0 40px;
}

.shipping {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	gap: 24px;
	color: var(--primary-color);
}

sp-textfield {
	display: flex;
	width: 100%;
}

sp-picker {
	display: flex;
	width: 100%;
}

sp-field-label {
	color: var(--secondary-color);
}

.summary {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}

.summary-header {
	width: 100%;
}

.summary-item {
	width: 100%;
	display: flex;
}

.item-details {
	display: flex;
	flex: 1;
	gap: 8px;
	height: 72px;
	align-items: center;
}

.item-quantity {
	width: 36px;
}

.item-specs {
	display: flex;
	flex-direction: column;
	width: 100$;
	align-items: stretch;
	justify-content: center;
}

.item-name {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.item-color {
  font-size: 16px;
  font-weight: 400;
  smargin: 0;
}

.item-price {
	display: flex;
}

p {
	margin: 0px;
}

h2 {
	margin: 0;
}

.summary-total {
	align-items: center;
	display: flex;
	padding: 20px 0;
}

.total-quantity {
	display: flex;
	flex-direction: column;
	flex: 1;
}
	
.shipping-address {
	padding: 20px 0;
}